# Dependências
node_modules/

# Ambiente
.env
*.env
.env.local

# Build e cache
dist/
dist-ssr/
.vite/
temp/
*.bak

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exceções para VSCode
!.vscode/extensions.json